@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --black-color: #1a1a1b;
    --bold-lead-color: #7a7a7a;
    --light-lead-color: #f3f3f3;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

input{
    outline: none;
}

/*start header*/

li a {
    display: inline !important;
    color: white !important;
}


.navbar-nav  .chat{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 150px;
}

.navbar-nav  .chat .chatlink{
    color: #000000 !important;
}


.nav-item svg{
    color: var(--bold-lead-color);
    padding: 0 4px !important;
}

.nav-limkss{
    display: flex;
    justify-content: space-between;
}

@media (max-width:912px) {
    .nav-limkss{
        display: block;
        padding: 15px;
    }
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.img-nav{
    width: 220px;
}

@media (max-width:912px) {
    .img-nav{
        width: 180px;
    }
}

/*End header*/
/* start landing */
.landing-about{
    width: 100%;
    min-height: 80vh;
     display: flex;
    align-items: center;
    background: url(../image/amrbackground2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #060709;
}

.landing-about h1{
    color: white;
}

.landing-text{

}


.landing-about p{
    color: white;
}

/* end landing */
/* start about-main */

.following .mylinks a{
color: var(--black-color);
font-size: 20px;
}

.about-main{
    display: flex ;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.paragraph p{
    line-height: 1.1rem;
}

@media (max-width:912px) {
    .paragraph p{
        line-height: 1.4rem;
        width: 100% !important;
    }
}

.Clint {
    font-size: 20px !important;
    display: inline-flex !important;
    justify-content: center;
}


/* Start Disc */
@media (max-width:620px) {
    .desc-text h5{
        font-size: 16px;
    }
    .desc-text p{
        font-size: 16px;
        width: 100% !important;
        letter-spacing: 0.09rem;
    }
}


.gallary{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.gallary img{
    width: 370px;
    margin: 0;
    padding: 0;
}



@media (min-width:760px) {
    .gallary img{
        width: 240px;
        /* margin: auto; */
        text-align: center;
    }
}

@media (min-width:1024px) {
    .gallary img{
        width: 300px;
        /* margin: auto; */
        text-align: center;
    }
}
@media (min-width:1000px) {
    .gallary img{
        width: 380px;
        /* margin: auto; */
        text-align: center;
    }
}

@media (max-width:622px) {
    .gallary{
        display: inline-block;
    }
    .gallary img{
        text-align: center;
        /* margin: auto; */

    }
}



/* Start Footer */
.footer{
    background-color:var(--black-color);
    color: white;
    overflow: hidden;
}

.foot-description p{
    letter-spacing: 1px;
}

.copyright{
    color: white;
    background-color: #000000;
    text-align: center;
}

.mylinkss a{
    font-size: 19px;
    color: white;
}
/* End footer */
